@import "../../styles/mixins";
@import "../../styles/colors";

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.simulator {
  position: absolute;
  top: toRem(20);
  left: toRem(20);
  z-index: 1;
  padding: toRem(10) toRem(16);
  background-color: $button-color;
}

.uploadButton {
  position: absolute;
  top: toRem(20);
  left: toRem(120);
  z-index: 1;
  padding: toRem(10) toRem(16);
  background-color: $button-color;
}

.pauseResume {
  position: absolute;
  top: toRem(20);
  right: toRem(130);
  z-index: 1;
  background-color: $error-color;
}

button {
  cursor: pointer;
  padding: toRem(7) toRem(16);
  border: none;
  outline: none;
  color: $white;
  border-radius: 5px;
}

.wrapper,
#map {
  height: 100vh;
  width: 100vw;
}

.droneMarker {
  width: toRem(32);
  height: toRem(32);
  background-size: contain;
}
